<%= render partial: "layouts/header" %>
<section class="create-event">

    <div class= "container">
        <div class ="row">
            <div class ="col-sm-12">
                
                <p><%= @event.creator.name %></p>
                <p><%= @event.name %></p>
                <p><%= @event.location %></p>
                <p><%= @event.date %></p>
                <p><%= @event.description %></p>
                
            </div>
        </div>
        <%= link_to "attend",  events_attend_path(user_id: @event.creator.id, event_id: @event.id ), class: "btn btn-outline-success" %>
    </div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">

            <% @event.attendees.each do |attendee| %>

                <li class="list-group-item"><%= attendee.name %></li>
                <li class="list-group-item"><%= attendee.email %></li>
            <% end %>
            
        </ul>
    
    </div>
    
</section>

