

<div class= "container">
    <div class ="row">
    <div class ="col-sm-12">
        <p class="bg-info text-white">Hi Mr.<h2><%= @user.name %></h2></p>
    </div>
    <div class ="col-sm-12">
        <p class="bg-info text-white">EMail: <p><%= @user.email %></p></p>
    </div>
    </div>
</div>
<%= link_to "Home", root_path, class: "btn btn-outline-primary" %>
    <% if @user.events.empty? %>
        <div class= "container">
            
            <p class="bg-info text-white">No Events for: <p><%= Time.now %></p></p>
            
        </div>
    <% else %>

        <ul>
            <% @user.events.each do |event| %>
            <li><%= event.name %></li>
            <li><%= event.location %></li>
            <li><%= event.date %></li>
            <% end %>
        </ul>
    <% end %>

