<section class="create-event">
<h1>Create an event</h1>
<%= form_for(@event, url: events_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :date_event %>
      <%= f.date_field :date_event %>

      <%= f.label :description %>
      <%= f.text_area :description, cols: 20, rows: 20 %>

      <%= f.submit 'Create Event' %>
<% end %>
</section>
